:root {
    --foreground: #ffe169; /* Lighter yellow */
    --background: #dbb42c; /* Medium yellow */
    --background-darker: #a47e1b; /* Darker yellow */
}

#inner-left {
    width: 575px;
}

canvas {
    border: 10px solid black;
    border-radius: 20px;
}